.select__wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 100%;
  padding: 0rem 2rem;
}
